/**
 * Style sheet based on bugzooky, the stripes demo application.
 * Now enhanced for the Able project.
 * @author Tim Fennell
 * @author Kjetil H.Paulsen
 */
/** Set the default padding and margin for block level elements to be zero everywhere. */

/** Default styles for link elements. */
a {
	color: darkblue;
	font-weight: bold;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: #6666FF;
}

img {
    border: none;
}

#contentpanel h1 {
	font-size: 12pt;
	font-variant: small-caps;
}
#contentpanel h2 {
	font-size: 11pt;
	font-variant: small-caps;
}
#contentpanel h3 {
	font-size: 10pt;
	font-variant: small-caps;
}

/** Styles that affect the layout of the major chunks of the page. */

body, div, dd, dt, dl, img, table, tr, td, h1, h2, h3, h4, h5, form, hr, fieldset {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

body {
	background-color: silver;
	margin: 10px;
}

div.buttons {
	margin-top: 10px;
    padding: 1px;
}

/** Styles used to created headings within the content of the page. */
div.sectiontitle {
	color: #446644;
	font-size: larger;
	margin: 0px 0px 15px 0px;
}

div.subtitle {
	color: #444444;
	font-weight: bold;
	margin: 10px 0px 5px 0px;
}

/* Default styles for form fields. */
input, select, textarea {
	color: Blue;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
    font-weight: bold;
}

/* Styles used for form fields in error. */
input.error, textarea.error, select.error {
	background-color: #FAFAD2;
	color: #B72222;
}

label.error {
	border-bottom: 1px dashed #B72222;
	color: #B72222;
}

select {
	width: 200px;
}

/* Styles used to make tables for displaying data. */
table.display {
    min-width: 800px;
}

table.display th {
    background-color: cornflowerblue;
	font-size: 7pt;
}

table.display th a {
    color: black;
}

table.display td {
	background-color: transparent;
	font-size: 7pt;
}

/*
table.display tr.even {
	background-color: aliceblue;
}*/

table.display tr.odd {
  background-color: aliceblue;
}




table.display td.buttons {
    vertical-align: top;
    width: 45px;
}

table.display, table.display th, table.display td {
	border: 1px solid #A9A9A9;
    border-collapse: collapse;
    padding: 2px;
}

/** Styles for controlling how simple two column forms are laid out. */
table.leftrightform td {
	padding: 3px;
}

table.leftrightform th {
	background-color: #EEEEEE;
	font-weight: bold;
	padding: 3px;
	text-align: right;
	vertical-align: middle;
}

textarea {
	height: 3em;
	width: 200px;
}

/** Style that control the format of non-error messages. */
ul.messages, ul.messages li {
	color: #6666FF;
	font-size: 11pt;
	font-style: italic;
	list-style: none;
}

#container {
    z-index: 1;
    position: absolute;
    top: 25px;
    left: 35px;
    border: 1px solid gray;
	background-color: #B0C4DE;
	padding: 10px 10px 10px 10px;
	/*width: 820px;*/
}

#contentpanel {
	background-color: #B0C4DE;
	border: none;
	margin-top: 5px;
	float: left;
	text-align: left;
}

#contentpanel li {
    white-space: nowrap;
    padding: 3px;
	list-style: none;
	display: block;
	color: white;
	font-weight: bold;
}

#contentpanel a {
	border: 1px;
}

#page {
	padding: 15px 15px 15px 15px;
}

#footer {
    position: absolute;
    bottom: 10px;
    padding: 4px;
	left: 250px;
	border: 1px solid #A9A9A9;	
}

#footer, #footer a {
	background-color: transparent;
	color: cornflowerblue;
	text-align: center;
	letter-spacing: 2px;
    font-weight: bold;
}

button {
    width: 35;
}
/* Style used to display the page header. */
#imageheader {
	background-image: url("../gfx/header.jpg");
    background-repeat: no-repeat;
    width: 800px;
    background-position: center;
    height: 155px;
	margin: 0px;
}

#logininfo, #logininfo a {
	color: #446644;
	text-align: right;
}

#controlPanel {
    z-index: 2;
    position: absolute;
    top: 40px;
    left: 0px;
    margin: 0px;
	padding: 0px;
}

#controlPanel ul {
    list-style: none;
}

#controlPanel li {
	list-style: none;
}

#controlPanel a {
	background-color: #B0C4DE;
	border-bottom: 1px solid #A9A9A9;
	border-right: 1px solid #A9A9A9;
	border-top: 1px solid #A9A9A9;
	border-left: none;
	color: white;
	display: block;
	margin: 0px 0px 5px 5px;
	padding: 4px 4px 4px 4px;
	letter-spacing: 1px;
	text-align: right;
}

#pagecontent {
	margin: 0px 5px 5px 5px;
}

#savepage {
    position: absolute;
    right: 9px;
    top: 120px;
    text-align: center;
    padding: 3px;
	border: 1px solid #A9A9A9;
    border-right: none;
}

#savepage, #savepage a {
	font-size: 6pt;
    background-color: #B0C4DE;
	color: white;
}

input.btn{
   color: cornflowerblue;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size:84%;
   font-weight: bold;
   background-color: whitesmoke;
   border:1px solid;
   border-top-color: cornflowerblue;
   border-left-color: cornflowerblue;
   border-right-color: gray;
   border-bottom-color: gray;
}
