<%@ include file="/WEB-INF/jsp/taglibs.jsp"%>
<html>
<body>

<stripes:form action="${info.actionUri}">

<stripes:useActionBean binding="${info.actionUri}" var="actionBean"/>

  <stripes:errors />

  <table class="display">
    <tr>
      <th></th>
#foreach( $property in $info.properties )
      <th>$property.name</th>
#end
      <th></th>
    </tr>

    <c:forEach items="$${actionBean.allEntities}" var="row" varStatus="rowstat">
      <tr>
#foreach( $property in $info.properties )
        <td>$${row.$property.name}</td>
#end
        <td><stripes:link href="${info.actionUri}" event="preEdit">
                                Edit
                                <stripes:param name="id" value="$${row.id}" />
        </stripes:link></td>
      </tr>
    </c:forEach>
  </table>

  <div class="buttons"><stripes:submit name="preEdit" value="Bulk Edit" /></div>
</stripes:form>
</body>
</html>
