<%@ attribute name="entity" type="${entityInfo.entityClass.name}" required="true"  %>
#set( $foo = '${entity.' )
#if( $propertyInfo.propertyEntityInfo.persistent )
#set( $propertyUri = $propertyInfo.propertyEntityInfo.entityUri )
<%@ taglib prefix="$propertyUri" tagdir="/WEB-INF/tags/entity/$propertyUri"%>
  <$propertyUri:viewField entity="$foo${propertyInfo.name}}"/>
#else
$foo${propertyInfo.name}}
#end
## <input type="text" value="$foo${propertyInfo.name}}" readonly="true"/>
