#set( $customControl = $propertyInfo.input.customControl() )
#set( $inputTemplate = $propertyInfo.input.type().name() )
#if ( $customControl && $customControl != "" )
#parse( "tags/edit/${customControl}.vm" )
#elseif ( $inputTemplate && $inputTemplate != "" )
#parse( "tags/edit/${inputTemplate}.vm" )
#elseif( $propertyInfo.collection || $propertyInfo.persistent || $propertyInfo.enum )
#parse( "tags/edit/Combo.vm" )
#elseif( $propertyInfo.date ) 
#parse( "tags/edit/Date.vm" )
#else
#parse( "tags/edit/Text.vm" )
#end