<%@ include file="/WEB-INF/header.jsp"%>
<html>
<body>

<stripes:form action="${entityInfo.actionUri}">
  <stripes:hidden name="id" />

  <stripes:errors />

  <table class="display">

#foreach( $property in $entityInfo.editFormProperties )
#if( !$property.collection )
#set( $name = "${property.name}")
#if( $property.persistent ) 
 #set( $name = "${name}.id" )
#end
    <tr>
      <th><stripes:label for="$name">${property.displayName}</stripes:label>:</th>
 #if( $property.writable )
      <td><able:field entity="${actionBean.entity}" name="$name"/></td>
 #else
      <td><able:viewField entity="${actionBean.entity}" name="$name"/></td>
 #end
    </tr>
#end
#end

  </table>

  <div class="buttons"><stripes:submit name="save" value="Save" /> <stripes:submit name="cancel" value="Cancel" /></div>
</stripes:form>

</body>
</html>
