<%@ include file="/WEB-INF/header.jsp"%>
<%@ taglib prefix="${entityInfo.entityUri}" tagdir="/WEB-INF/tags/entity/${entityInfo.entityUri}"%>
<html>
<body>

<stripes:form action="${entityInfo.actionUri}">
  <stripes:hidden name="id" />
  <stripes:errors />

  <%--TODO - can we avoid this? --%>
  <stripes:useActionBean binding="${entityInfo.actionUri}" var="actionBean" />

  <table class="display">
    <tr>
#foreach( $property in $entityInfo.editTableProperties )
#if( !$property.collection )
      <th>${property.displayName}</th>
#end
#end
     <th></th>
    </tr>
    <c:forEach items="${actionBean.bulkEditEntities}" var="row" varStatus="rowstat">
      <tr>
#foreach( $property in $entityInfo.editTableProperties )
#if( !$property.collection )
#set( $name = "${property.name}")
#if( $property.persistent ) 
 #set( $name = "${name}.id" )
#end
 #if( $property.writable )
      <td><${entityInfo.entityUri}:${property.name}EditField name="bulkEditEntities[${rowstat.index}].$name"/></td>
 #else
      <td><${entityInfo.entityUri}:${property.name}ViewField entity="${row}"/></td>
 #end
#end
#end
      </tr>
    </c:forEach>
  </table>

  <div class="buttons"><stripes:submit name="save" value="Save" /> <stripes:submit name="cancel" value="Cancel" /></div>
</stripes:form>