<%@ include file="/WEB-INF/header.jsp"%>
<%@ taglib prefix="${entityInfo.entityUri}" tagdir="/WEB-INF/tags/entity/${entityInfo.entityUri}"%>
<html>
<body>

<stripes:form action="${entityInfo.actionUri}">

<stripes:useActionBean binding="${entityInfo.actionUri}" var="actionBean"/>

  <stripes:errors />

  <table id="entities" class="display sortable autostripe">
   <thead>
    <tr>
      <th></th>
#foreach( $property in $entityInfo.viewTableProperties )
      <th>$property.displayName</th>
#end
      <th></th>
    </tr>
    </thead>
    <tbody>
    <c:forEach items="${actionBean.allEntities}" var="row" varStatus="rowstat">
      <tr>
#set( $rowPrefix = '${row.')      
        <td><stripes:checkbox name="id" value="$rowPrefix$entityInfo.idProperty.name}" onclick="handleCheckboxRangeSelection(this, event);" /></td>
#foreach( $property in $entityInfo.viewTableProperties )
        <td><${entityInfo.entityUri}:${property.name}ViewField entity="${row}"/></td>
#end
        
        <td><stripes:link href="${entityInfo.actionUri}" event="edit">
                                Edit
                                <stripes:param name="id" value="${row.id}" />
        </stripes:link> <stripes:link href="${entityInfo.actionUri}" event="delete">
                                Delete
                                <stripes:param name="id" value="${row.id}" />
        </stripes:link></td>
        
      </tr>
    </c:forEach>
    </tbody>
  </table>

  <div class="buttons"><stripes:submit name="edit" value="New" /> <stripes:submit name="bulkEdit" value="Bulk Edit" /> <stripes:submit
    name="delete" value="Delete" /></div>
</stripes:form>
</body>
</html>
