<%@ include file="/WEB-INF/header.jsp"%>
<%@ taglib prefix="${entityInfo.entityUri}" tagdir="/WEB-INF/tags/entity/${entityInfo.entityUri}"%>
<html>
<body>

<stripes:form action="${entityInfo.actionUri}">

<stripes:useActionBean binding="${entityInfo.actionUri}" var="actionBean"/>

  <stripes:hidden name="id"/>
  <stripes:errors />

  <table class="display">

#foreach( $property in $entityInfo.viewFormProperties )
    <tr>
      <th><stripes:label for="entity.${property.name}">${property.displayName}</stripes:label></th>
      <td><${entityInfo.entityUri}:${property.name}ViewField entity="${actionBean.entity}"/></td>
    </tr>
#end

  </table>

<div class="buttons">
  <stripes:submit name="edit" value="Edit" />
  <stripes:submit name="cancel" value="Back" />
</div>
</stripes:form>

</body>
</html>
