<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byType">

  <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
    <!-- 
      <property name="persistenceUnitName" value="default" />
    -->
  </bean>

  <bean id="jpaTemplate" class="org.springframework.orm.jpa.JpaTemplate">
    <property name="entityManagerFactory" ref="entityManagerFactory"/>
    <property name="exposeNativeEntityManager" value="true"/>
  </bean>

  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory"/>
  </bean>

  <bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
    <property name="transactionManager" ref="transactionManager"/>
  </bean>


  <!-- Compass -->
  <bean id="compass" class="org.compass.spring.LocalCompassBean">
    <property name="resourceLocations">
      <list>
        <value>classpath:com/opensymphony/able/compass/user.cmd.xml</value>
        <value>classpath:user.cpm.xml</value>
      </list>
    </property>
    <property name="compassSettings">
      <props>
        <prop key="compass.engine.connection">file://target/testindex</prop>
        <prop key="compass.transaction.factory">org.compass.spring.transaction.SpringSyncTransactionFactory</prop>
      </props>
    </property>
    <property name="transactionManager" ref="transactionManager"/>
  </bean>

  <bean id="jpaGpsDevice" class="org.compass.gps.device.jpa.JpaGpsDevice">
    <constructor-arg index="0" value="default"/>
    <constructor-arg index="1" ref="entityManagerFactory"/>
    <property name="injectEntityLifecycleListener" value="true"/>
    <property name="mirrorDataChanges" value="true"/>
  </bean>

  <bean id="jpaGps" class="org.compass.gps.impl.SingleCompassGps" init-method="start" destroy-method="stop">
    <property name="compass" ref="compass"/>
    <property name="gpsDevices">
      <list>
        <bean class="org.compass.spring.device.SpringSyncTransactionGpsDeviceWrapper">
          <property name="gpsDevice" ref="jpaGpsDevice"/>
          <property name="name" value="default"/>
        </bean>
      </list>
    </property>
  </bean>
</beans>