#set( $foo = '${entity.' )
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
[<%= entity.${propertyInfo.descriptor.readMethod.name}().size() %>]
<a href="<%= request.getContextPath() %>/views/entity/${entityInfo.entityUri}/${propertyInfo.name}/edit.jsp?oid=${entity.id}">Edit</a>
